*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url("../img/Background.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  margin: 1rem;
}

@font-face {
  font-family: "Titanium";
  font-weight: 100;
  src: url("../fonts/TitilliumText22L001.otf");
}

@font-face {
  font-family: "Titanium";
  font-weight: 200;
  src: url("../fonts/TitilliumText22L002.otf");
}

@font-face {
  font-family: "Titanium";
  font-weight: 300;
  src: url("../fonts/TitilliumText22L003.otf");
}

@font-face {
  font-family: "Titanium";
  font-weight: 400;
  src: url("../fonts/TitilliumText22L004.otf");
}

@font-face {
  font-family: "Titanium";
  font-weight: 500;
  src: url("../fonts/TitilliumText22L005.otf");
}

@font-face {
  font-family: "Titanium";
  font-weight: 600;
  src: url("../fonts/TitilliumText22L006.otf");
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.content img {
  opacity: 0.3;
}

.forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (60px)[20];
      grid-template-rows: repeat(20, 60px);
  gap: 10px 100px;
  width: 100%;
  margin-top: 5rem;
}

.forms__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  display: flex;
}

.forms__send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 11;
  -ms-grid-row-span: 10;
  grid-row: 11/21;
}

.forms__sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.forms__recover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

.forms__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  grid-row: 13/17;
}

.forms__mini-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 18;
  -ms-grid-row-span: 3;
  grid-row: 18/21;
}

.forms__mini-logo img {
  opacity: 0.2;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.register-form__background {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-clip: padding-box;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.register-form__title {
  color: #fff;
  font-size: 3rem;
  font-family: Titanium;
  font-weight: 200;
  margin-bottom: 1rem;
}

.register-form__username {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.register-form__username .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.register-form__username .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.register-form__username input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.register-form__password {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.register-form__password .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.register-form__password .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.register-form__password input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.register-form__confirm-password {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.register-form__confirm-password .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.register-form__confirm-password .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.register-form__confirm-password input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.register-form__email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.register-form__email .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.register-form__email .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.register-form__email input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.register-form__location {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.register-form__location .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.register-form__location .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.register-form__location select {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.register-form__accept-terms {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.register-form__accept-terms input {
  display: none;
}

.register-form__accept-terms input:checked ~ .checkbox-terms > div {
  background-color: #93D02B;
}

.register-form__accept-terms .checkbox-terms {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.register-form__accept-terms .checkbox-terms div {
  width: 60%;
  height: 60%;
  border-radius: 2px;
}

.register-form__accept-terms .checkbox-text {
  font-family: Titanium;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  cursor: pointer;
}

.register-form__submit-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  padding: 1rem;
  margin-top: auto;
}

.register-form__submit-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.send-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.send-email-form__background {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-clip: padding-box;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.send-email-form__title {
  color: #fff;
  font-size: 3rem;
  font-family: Titanium;
  font-weight: 200;
  margin-bottom: 1rem;
}

.send-email-form__username {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.send-email-form__username .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.send-email-form__username .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.send-email-form__username input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.send-email-form__email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.send-email-form__email .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.send-email-form__email .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.send-email-form__email input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.send-email-form__message {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  resize: none;
  font-family: Titanium;
  font-weight: 200;
  font-size: 2rem;
  height: 100%;
  outline: none;
}

.send-email-form__send-copy {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-email-form__send-copy input {
  display: none;
}

.send-email-form__send-copy input:checked ~ .send-copy > div {
  background-color: #93D02B;
}

.send-email-form__send-copy .send-copy {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.send-email-form__send-copy .send-copy div {
  width: 60%;
  height: 60%;
  border-radius: 2px;
}

.send-email-form__send-copy .checkbox-text {
  font-family: Titanium;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  cursor: pointer;
}

.send-email-form__submit-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  padding: 1rem;
}

.send-email-form__submit-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sign-in-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.sign-in-form__background {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-clip: padding-box;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.sign-in-form__title {
  color: #fff;
  font-size: 3rem;
  font-family: Titanium;
  font-weight: 200;
  margin-bottom: 1rem;
}

.sign-in-form__username {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.sign-in-form__username .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.sign-in-form__username .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.sign-in-form__username input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.sign-in-form__password {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.sign-in-form__password .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.sign-in-form__password .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.sign-in-form__password input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.sign-in-form__remember-me {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-form__remember-me input {
  display: none;
}

.sign-in-form__remember-me input:checked ~ .remember-me > div {
  background-color: #93D02B;
}

.sign-in-form__remember-me .remember-me {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sign-in-form__remember-me .remember-me div {
  width: 60%;
  height: 60%;
  border-radius: 2px;
}

.sign-in-form__remember-me .checkbox-text {
  font-family: Titanium;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  cursor: pointer;
}

.sign-in-form__submit-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  margin-left: auto;
}

.sign-in-form__submit-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.recover-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.recover-form__background {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-clip: padding-box;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.recover-form__title {
  color: #fff;
  font-size: 3rem;
  font-family: Titanium;
  font-weight: 200;
  margin-bottom: 1rem;
}

.recover-form__email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.recover-form__email .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.recover-form__email .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.recover-form__email input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.recover-form__phone {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.recover-form__phone .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
  height: 40px;
  width: 40px;
}

.recover-form__phone .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-left: 2px;
}

.recover-form__phone input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.recover-form__options {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recover-form__submit-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  padding: 1rem 5.5rem;
}

.recover-form__no-active-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  background-color: rgba(147, 208, 43, 0.6);
  padding: 1rem 5.5rem;
  border: solid rgba(58, 154, 0, 0.6) 2px;
  margin-left: auto;
}

.recover-form__submit-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.subscribe-form__background {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-clip: padding-box;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.subscribe-form__title {
  color: #fff;
  font-size: 3rem;
  font-family: Titanium;
  font-weight: 200;
  margin-bottom: 1rem;
}

.subscribe-form__email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.subscribe-form__email .icon {
  height: 100%;
  width: 30px;
  fill: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.subscribe-form__email .line {
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1px;
  margin-right: 2rem;
  margin-left: 1rem;
}

.subscribe-form__email input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
}

.subscribe-form__options {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__submit-button {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  padding: 1rem 2.8rem;
}

.subscribe-form__no-subscribe {
  background-color: #93D02B;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  padding: 1rem 4rem;
  border: solid #3A9A00 2px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 0;
  text-shadow: 1px 1px 5px #353434;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(44%, #f34354), to(#ff6c7b));
  background: linear-gradient(0deg, #f34354 44%, #ff6c7b 100%);
  border: solid red 1px;
  padding: 1rem 2.8rem;
  margin-left: auto;
}

.subscribe-form__submit-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=main.css.map */