.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 0rem;
    }

    img {
        opacity: 0.3;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            padding: 3rem;
            padding-bottom: 0;
        }

        // width: 100%;
    }

}

.forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(32, 30px);
    gap: 10px 100px;
    width: 100%;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(62, 30px);
    }


    //REGISTER FORM STYLING---------------
    &__register {
        @include form-grid-element;
        grid-column: 1;
        grid-row: 1/15;
        display: flex;

        // background-color:blue;
    }

    &__send-email {
        @include form-grid-element;
        grid-column: 1;
        grid-row: 16/32;
        // background-color: #fff;

    }

    &__sign-in {
        @include form-grid-element;
        grid-column: 2;
        grid-row: 1/8;
        // background-color: red;

        @media only screen and (max-width: $bp-largest) {
            grid-column: 1;
            grid-row: 33/41;
        }
    }

    &__recover {
        @include form-grid-element;
        grid-column: 2;
        grid-row: 10/18;
        // background-color: RED;

        @media only screen and (max-width: $bp-largest) {
            grid-column: 1;
            grid-row: 42/50;
        }
    }

    &__subscribe {
        @include form-grid-element;
        grid-column: 2;
        grid-row: 19/25;
        // background-color: RED;

        @media only screen and (max-width: $bp-largest) {
            grid-column: 1;
            grid-row: 51/57;
        }
    }

    &__mini-logo {
        @include form-grid-element;
        grid-column: 2;
        grid-row: 27/32;

        // background-color: #fff;
        @media only screen and (max-width: $bp-largest) {
            grid-column: 1;
            grid-row: 58/64;
        }

        img {
            opacity: 0.2;
        }

    }

}

.register-form {
    @include simple-from;

    &__background {
        @include form-background;
    }

    &__title {
        @include form-title;
    }

    &__username {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__password {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__confirm-password {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__email {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__location {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        select {
            @include form-input;
            color: rgba($color: #000000, $alpha: 0.6);
            outline: none;
            cursor: pointer;

        }
    }

    &__accept-terms {
        @include form-checkbox-item;
        // margin-top: auto;

        input {
            display: none;
        }

        input:checked~.checkbox-terms>div {
            background-color: $color-primary-green
        }

        .checkbox-terms {
            @include form-checkbox-square;
        }

        .checkbox-text {
            @include form-checkbox-text;
        }
    }

    &__submit-button {
        @include form-submit-button;
        padding: 10px;
        margin-top: auto;
    }

    &__submit-button:hover {
        transform: translateY(-5px);
    }

}

//SEND EMAIL FORM STYLING---------------
.send-email-form {
    @include simple-from;

    &__background {
        @include form-background;
    }

    &__title {
        @include form-title;
    }

    &__username {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__email {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__message {
        @include form-input-element;
        resize: none;
        font-family: $font-titanium;
        font-weight: 200;
        font-size: 2rem;
        height: 100%;
        outline: none;
    }

    &__send-copy {
        @include form-checkbox-item;

        input {
            display: none;
        }

        input:checked~.send-copy>div {
            background-color: $color-primary-green
        }

        .send-copy {
            @include form-checkbox-square;
        }

        .checkbox-text {
            @include form-checkbox-text;
        }
    }

    &__submit-button {
        @include form-submit-button;
        padding: 1rem;
    }

    &__submit-button:hover {
        transform: translateY(-5px);
    }
}

//SIGN IN FORM STYLING---------------
.sign-in-form {
    @include simple-from;

    &__background {
        @include form-background;
    }

    &__title {
        @include form-title;
    }

    &__username {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__password {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }



    &__remember-me {
        @include form-checkbox-item;

        input {
            display: none;
        }

        input:checked~.remember-me>div {
            background-color: $color-primary-green
        }

        .remember-me {
            @include form-checkbox-square;
        }

        .checkbox-text {
            @include form-checkbox-text;
        }
    }

    &__submit-button {
        @include form-submit-button;
        width: 150px;
        height: 50px;
        margin-left: auto;

        @media only screen and (max-width: $bp-medium) {
            width: 90px;
        }
    }

    &__submit-button:hover {
        transform: translateY(-5px);
    }
}

//RECOVER FORM STYLING---------------
.recover-form {
    @include simple-from;

    &__background {
        @include form-background;
    }

    &__title {
        @include form-title;
    }

    &__email {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }

    &__phone {
        @include form-input-element;

        .icon {
            @include form-icon;
            height: 40px;
            width: 40px;
        }

        .line {
            @include form-line;
            margin-left: 2px;
        }

        input {
            @include form-input;
        }
    }

    &__options {
        margin-top: 2rem;
        display: flex;
    }


    &__submit-button {
        @include form-submit-button;
        width: 150px;
        height: 50px;

        @media only screen and (max-width: $bp-medium) {
            width: 90px;
        }
    }

    &__no-active-button {
        @include form-submit-button;
        background-color: rgba($color-primary-green, $alpha: 0.6);
        border: solid rgba(#3A9A00, $alpha: 0.6) 2px;
        margin-left: auto;
        width: 150px;
        height: 50px;

        @media only screen and (max-width: $bp-medium) {
            width: 90px;
        }
    }

    &__submit-button:hover {
        transform: translateY(-5px);
    }
}

//SUBSCRIBE FORM STYLING---------------
.subscribe-form {
    @include simple-from;

    &__background {
        @include form-background;
    }

    &__title {
        @include form-title;
    }

    &__email {
        @include form-input-element;

        .icon {
            @include form-icon;
        }

        .line {
            @include form-line;
        }

        input {
            @include form-input;
        }
    }



    &__options {
        margin-top: 2rem;
        display: flex;
    }


    &__submit-button {
        @include form-submit-button;
        width: 150px;
        height: 50px;

        @media only screen and (max-width: $bp-medium) {
            width: 90px;
            font-size: 180%;
        }
    }

    &__no-subscribe {
        @include form-submit-button;
        background: linear-gradient(0deg, rgba(243, 67, 84, 1) 44%, rgba(255, 108, 123, 1) 100%);
        border: solid red 1px;
        margin-left: auto;
        width: 150px;
        height: 50px;

        @media only screen and (max-width: $bp-medium) {
            width: 90px;
            font-size: 180%;
        }
    }

    &__no-subscribe:hover {
        transform: translateY(-5px);
    }

    &__submit-button:hover {
        transform: translateY(-5px);
    }
}