.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;

}

.forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 50px);
    gap: 10px 100px;
    width: 100%;
    margin-top: 5rem;
    // margin-left: 60px;
    // margin-right: 60px;

    &__register {
        grid-column: 1;
        grid-row: 1/10;
        // background-color:blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        
    }

    &__send-email {
        grid-column: 1;
        grid-row: 11/21;
        background-color: #fff;
    }

    &__sign-in {
        grid-column: 2;
        grid-row: 1/6;
        background-color: #fff;
    }

    &__recover {
        grid-column: 2;
        grid-row: 7/12;
        background-color: #fff;
    }

    &__subscribe {
        grid-column: 2;
        grid-row: 13/17;
        background-color: #fff;
    }

    &__mini-logo {
        grid-column: 2;
        grid-row: 18/21;
        background-color: #fff;
    }

}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    
    &__background{
        width: 100%;
        padding: 5px;
        background-clip: padding-box;
        border: 15px solid rgba($color: #000000, $alpha: 0.4);
        border-radius: 5px;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
    
    &__title {
        color: $color-white;
        font-size: 3rem;
        font-family: $font-titanium;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    &__username {
        @include form-element;
        .icon {
           @include form-icon;
            
        }
        .line {
           @include form-line;
        }
        input {
           @include form-input;
            
        }
    }
    &__password {
        @include form-element;
        .icon {
           @include form-icon;
            
        }
        .line {
           @include form-line;
        }
        input {
           @include form-input;
            
        }
    }

    &__confirm-password {
        @include form-element;
        .icon {
           @include form-icon;
            
        }
        .line {
           @include form-line;
        }
        input {
           @include form-input;
            
        }
    }

    &__email {
        @include form-element;
        .icon {
           @include form-icon;
            
        }
        .line {
           @include form-line;
        }
        input {
           @include form-input;
            
        }
    }

    &__location {
        @include form-element;
        .icon {
           @include form-icon;
            
        }
        .line {
           @include form-line;
        }
        select {
           @include form-input;
           color: rgba($color: #000000, $alpha: 0.6);
           outline:none;
            
        }
    }
    &__accept-terms{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        input {
            display: none;
            
        }

        input:checked ~.checkbox-terms>div {
            background-color: $color-primary-green
        }

        .checkbox-terms{
            width: 20px;
            height: 20px;
            border-radius: 3px;
            margin-right: 1.2rem;
            border: $border-width solid $color-border-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            

            div {
                width: 60%;
                height: 60%;
                border-radius: 2px;
            }
        }
        
        p{
            font-family: $font-titanium;
            font-weight: 200;
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 1.6rem;
        }
    }
    &__submit-button{
        background-color: $color-primary-green;
        border: none;
        font-size: 2.3rem;
        color: $color-white;
        padding: 1rem;
        border: solid #3A9A00 2px ;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: all .2s;
    }
    &__submit-button:hover{
        transform: translateY(-5px);
    }
}

